body{

    margin:0;
    font-family:Arial;
    background:#f5f5f5;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    
    }
    
    .header{
    
    background:#121212;
    color:#D4AF37;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    
    }
    
    .header nav a{
    
    color:#D4AF37;
    margin-left:20px;
    text-decoration:none;
    font-weight: 700;
    
    }
    .logo{
        padding-left:30px;
    }
    .logo img{
    
        height:80px; 
        width:auto;
       border-radius:50%;
        object-fit: contain;
      
      }
    
    .cart-section{
    
    padding:40px;
    flex:1;
    
    }
    
    .cart-container{
    
    display:flex;
    flex-direction:column;
    gap:20px;
    
    }
    
    .cart-card{
    
    display:flex;
    align-items:center;
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    
    }
    
    .cart-img{
    
    width:120px;
    height:100px;
    object-fit:cover;
    border-radius:8px;
    
    }
    
    .cart-info{
    
    flex:1;
    margin-left:20px;
    
    }
    
    .cart-info h3{
    
    margin:0;
    
    }
    
    .cart-info p{
    
    margin:5px 0;
    
    }
    
    .cart-price{
    
    font-weight:bold;
    color:#333;
    
    }
    
    .qty-control{
    
    display:flex;
    align-items:center;
    gap:10px;
    margin-top:10px;
    
    }
    
    .qty-btn{
    
    background:#121212;
    color:#D4AF37;
    border:none;
    padding:5px 12px;
    cursor:pointer;
    border-radius:5px;
    font-size:16px;
    
    }
    
    .qty-number{
    
    font-weight:bold;
    font-size:16px;
    
    }
    
    .remove-btn{
    
    background:red;
    color:white;
    border:none;
    padding:6px 10px;
    cursor:pointer;
    border-radius:5px;
    margin-top:10px;
    
    }
    
    .cart-summary{
    
    margin-top:30px;
    text-align:right;
    
    }
    
    #checkoutBtn{
    
    padding:10px 20px;
    background:#121212;
    color:#D4AF37;
    border:none;
    border-radius:5px;
    cursor:pointer;
    
    }
    .logout-btn{

        background:#D4AF37;
        color:#121212;
        
        border:none;
        
        padding:8px 14px;
        
        border-radius:6px;
        
        font-size:14px;
        
        cursor:pointer;
        
        margin-left:15px;
        
        font-weight:600;
        
        }
        
        .logout-btn:hover{
        
        background:#F5D76E;;
        color:#121212;

        
        }
    
    .footer{
    
    background:#121212;
    color:#D4AF37;
    text-align:center;
    padding:15px;
    margin-top:40px;
    
    }
    
    
    /* Tablet */
    
    @media (max-width:900px){
    
    .cart-card{
    
    flex-direction:column;
    text-align:center;
    
    }
    
    .cart-info{
    
    margin-left:0;
    margin-top:10px;
    
    }
    
    }
    
    
    /* Mobile */
    
    @media (max-width:600px){
    
    .header{
    
    flex-direction:column;
    text-align:center;
    
    }
    
    .header nav{
    
    margin-top:10px;
    
    }
    
    }