.menu-container{
    padding:60px;
    text-align:center;
    background:#f8f8f8;
}

.menu-container h1{
    margin-bottom:40px;
    color:#D4AF37;
}

.menu-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:30px;
}

.menu-card{
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.menu-card:hover{
    transform:translateY(-8px);
}

.menu-card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
}

.menu-card h3{
    margin:15px 0;
}

.order-btn{
    display:inline-block;
    background:#121212;
    color:#D4AF37;
    padding:10px 20px;
    border-radius:5px;
    text-decoration:none;
    transition:0.3s;
}

.order-btn:hover{
    background:#F5D76E;
    color:#121212;
}
